KC_DB_URL=jdbc:postgresql://my-postgres:5432/keycloak
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres
# Admin credentials
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
# KEYCLOAK_ADMIN=admin
# KEYCLOAK_ADMIN_PASSWORD=admin
# Hostname configuration
KC_HOSTNAME=https://kc.apug.it
KC_HOSTNAME_ADMIN=https://kcadmin.apug.it
KC_HOSTNAME_BACKCHANNEL_DYNAMIC=false
KC_HOSTNAME_STRICT=true
